html {
	background: #1e1e20;
	font-family:Calibri,Carlito;
	font-size:12pt; /*font-size:2vw;*/
	color: #DDDDDD;
	margin:0;
	padding:0;
}

body{
	margin:0;
	padding:8px;
}

div {
    width: 100%;
    padding: 0;
    margin: 0;
	background-color: transparent;
}

p{
}

q{
	display: block;
	margin: 20px 30px 20px 30px;
	quotes: initial;
	/*border: 5px solid red;*/
}

hr{
	height:2px;
	border-width:0;
	background-color:#434347;
}

table{
	font-size:1em;
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;
	width:100%;
}
td{
	text-align:left;
	vertical-align:top;
	font-size:1em;
}

h1{
	font-size:2.5em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
h2{
	font-size:2em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
h3{
	font-size:1.8em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
h4{
	font-size:1.6em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
h5{
	font-size:1.4em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
h6{
	font-size:1.2em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}