html {
	background: #fcfcfc;
	font-family:Calibri,Carlito;
	font-size:17px; /*font-size:2vw;*/
	line-height:23px;
	color: #262626;
	margin:0;
	padding:0;
	overflow:hidden;
	-webkit-user-select: none;
}

body{
	margin:0;
	padding:0;
	-webkit-user-select: none;
}

div {
    width: 100%;
    padding: 0;
    margin: 0;
	background-color: transparent;
	-webkit-user-select: none;
}

p{
	-webkit-user-select: none;
}

/*****************************************/
.response-full-container{
	background-color:#e6e6e6;
	padding:0;
	margin:0;
	border-radius: 5px;
	width:100%;
	overflow:hidden;
	-webkit-user-select: none;
}
.response-switcher{
	position:relative;
	float:left;
	width:3%;
	height:94px;
	padding:0;
	border-radius: 5px;
	background-color: #ccc;
	text-align: center;
	line-height:94px;
	-webkit-user-select: none;
	
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ddd),
		color-stop(0.50, #ccc),
		color-stop(0.92, #bbb),
		to(#aaa));
	text-shadow:
		1px 1px 2px rgba(444,444,444,0.4),
		0px 1px 0px rgba(444,444,444,0.1);
}
.response-switcher.left{
	margin:4px 0 4px 1%;
	-webkit-user-select: none;
}
.response-switcher.right{
	margin:4px 1% 4px 0;
	-webkit-user-select: none;
}
.response-switcher.disabled{
	cursor: default;
	background: #ccc;
	color: #bbb;
	-webkit-user-select: none;
}
.response-switcher:hover{
	cursor: pointer;
    background: #bbb;
	-webkit-user-select: none;
}
.response-switcher.disabled:hover{
	cursor: default;
	background-color: #ccc;
	-webkit-user-select: none;
}
.response-container{
	display:inline-block;
	float:left;
	background-color:#e6e6e6;
	padding:4px 0 0 1%;
	margin:0;
	border-radius: 5px;
	width:91%;
	overflow:hidden;
	-webkit-user-select: none;
}
.hotkey-icon{
	position:absolute;
	width:50%;
	height:18px;
	font-size:10px;
	line-height:12px;
	right:2px;
	top:1px;
	pointer-events: none;
	-webkit-user-select: none;
	text-align: right;
	color: #777777;
}
.hotkey-icon.disabled{
	color: #bbb;
	-webkit-user-select: none;
}
.response-box {
	position:relative;
	float:left;
	width:19%;
	height:28px;
	padding:0;
	margin:0 1% 4px 0;
	border-radius: 5px;
	background-color: #ccc;
	text-align: center;
	-webkit-user-select: none;
	
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ddd),
		color-stop(0.50, #ccc),
		color-stop(0.92, #bbb),
		to(#aaa));
	text-shadow:
		1px 1px 2px rgba(444,444,444,0.4),
		0px 1px 0px rgba(444,444,444,0.1);
}
.response-box:hover{
	cursor: pointer;
    background: #ccc;
	-webkit-user-select: none;
}
.response-box.disabled{
	cursor: default;
	-webkit-user-select: none;
	background: #ccc;
}
.response-box.selected{
	box-sizing:border-box;
	border-style: solid;
	border-width: 1px;
	border-color:#444;
}
.response-box.disabled.selected{
	box-sizing:border-box;
	border-style: solid;
	border-width: 1px;
	border-color:#aaa;
}

.response-text{
	padding: 4px 4px 4px 14px;
	margin:0;
	font-size:1em;
	line-height:24px;
	-webkit-user-select: none;
}
.response-text.selected{
	line-height:20px;
}

.response-icon{
	position:absolute;
	height:14px;
	width:14px;
	bottom:2px;
	left:2px;
}
.response-icon-left{
	position:absolute;
	height:14px;
	width:14px;
	top:2px;
	left:2px;
}

.option-disabled{
	color: #777777;
	-webkit-user-select: none;
}

.item-inline{
	background-color: transparent;
	position:relative;
	display:inline-block;
	border-radius: 5px;
	width:20px;
	height:20px;
	padding:0;
	margin:0 0 2px 0;
	vertical-align: middle;
}