html {
	background: #1e1e20;
	font-family: Calibri, Carlito, sans-serif;
	font-size:11pt;
	font-size:7vw; /*font-size:2vw;*/
	color: #ffffff;
	overflow:hidden;
	cursor:default;
	margin:0;
	padding:0;
	-webkit-user-select: none;
}

body{
	margin:0;
	padding:0;
	-webkit-user-select: none;
}

div {
    width: 100%;
	margin:0;
    padding: 0;
	background-color: transparent;
	-webkit-user-select: none;
}

p{
	margin:0;
	padding:0;
	-webkit-user-select: none;
}

table{
	width:90vw;
	padding:0;
	margin:0;
	border:0;
	border-collapse:collapse;
}
h1{
	font-size:2.5em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	-webkit-user-select: none;
}
h2{
	font-size:2em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	-webkit-user-select: none;
}
h3{
	font-size:1.8em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	-webkit-user-select: none;
}
h4{
	font-size:1.6em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	-webkit-user-select: none;
}
h5{
	font-size:1.4em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	-webkit-user-select: none;
}
h6{
	font-size:1.2em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	-webkit-user-select: none;
}

.full{
	display: flex;
	flex-flow: column;
	height: calc(100% - 100vw);
}

.attribute-container{
	position:relative;
	box-sizing:border-box;
	background-color:#19191a;
	border-radius: 5px;
	padding:4px;
	margin:0 0 8px 0;
}
.attribute-container.effects{
	-webkit-flex: 1 1;
	-webkit-column-fill: auto;
	overflow-y: scroll;
}
.attribute-container-inner {
	box-sizing:border-box;
	border-radius: 5px;
	background: #1B1B1D;
	padding:4px;
	-webkit-flex: 1;
	-webkit-column-fill: auto;
	overflow-y: scroll;
}

.character-name{
	vertical-align: middle;
	text-align: center;
	font-size:1.4em;
	margin:0;
	-webkit-user-select: none;
}

.full-width-container{
	position:relative;
	float:left;
	width:100%;
	padding:0;
	margin:0;
	-webkit-user-select: none;
	box-sizing: border-box;
}
.half-width-container{
	position:relative;
	float:left;
	width:50%;
	padding:0;
	margin:0;
	-webkit-user-select: none;
	box-sizing: border-box;
}
.quarter-width-container{
	position:relative;
	float:left;
	width:25%;
	-webkit-user-select: none;
	box-sizing: border-box;
}
.three-quarter-width-container{
	position:relative;
	float:left;
	width:75%;
	-webkit-user-select: none;
	box-sizing: border-box;
}

.icon {
	position:relative;
	float:left;
	width:14.66%;
	padding:0;
	margin:1%;
	border-radius: 5px;
	background-color: #333333;
	-webkit-user-select: none;
	box-sizing: border-box;
}
.icon.small {
	width:10%;
}
.icon.effect {
	width:12.28%;
}
.icon-content {
	position: absolute;
	width: 100%;
	height: 100%;
}
.icon:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.timer-background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	-webkit-user-select: none;
	opacity:0.5;
}

.barBackgroundExp{
	width:90vw;
	height:2vw;
	background:#222222;
	float:left;
	margin:0 2vw 2vw 2vw;
	border-radius: 2px;
}
.barBackgroundAtt{
	width:65vw;
	height:5vw;
	background:#222;
	float:left;
	margin:3vw 0 4vw 0;
	border-radius: 2px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-user-select: none;
}
.overlay:hover{
	background-color:rgba(255,255,255,0.2);
	border-radius:5px;
}
.overlay-alt {
	width: 100%;
	height: auto;
	position: relative;
	top: 0;
	left: 0;
	-webkit-user-select: none;
	cursor: pointer;
}
.overlay-alt:hover{
	background-color:#555;
	border-radius:5px;
}

.item-count{
	font-size:14px;
	line-height:14px;
	position:absolute;
	text-align: right;
	right:2px;
	top:0;
	pointer-events: none;
	text-shadow: 2px 0 0 #19191a, -2px 0 0 #19191a, 0 2px 0 #19191a, 0 -2px 0 #19191a, 1px 1px #19191a, -1px -1px 0 #19191a, 1px -1px 0 #19191a, -1px 1px 0 #19191a;
}

/***********************************************************/
/*EVENT LOG*/

.event-log {
	word-wrap: break-word;
	box-sizing:border-box;
	display: flex;
	flex-flow: column;
	float:left;
	background-color:#19191a;
	width:100%;
	height:100vw;
	margin:0;
	padding:4px;
	bottom:32px;
	border-radius:5px;
	-webkit-user-select: none;
}

.event-log-inner {
	box-sizing:border-box;
	border-radius: 5px;
	background: #1B1B1D;
	font-family: Calibri, Carlito, sans-serif;
	font-size:11pt;
	width:100%;
	overflow-y: scroll;
	-webkit-flex: 1;
	-webkit-column-fill: auto;
}

.event-log-entry {
	position:relative;
	box-sizing:border-box;
	border-radius: 5px;
	padding:4px;
	width:100%;
}

/***********************************************************/
/*MAP*/

.map-container{
	float:left;
	display:inline-block;
	background-color:#19191a;
	width:100%;
	margin:0;
	padding:0;
	bottom:8px;
	border-radius:5px;
	-webkit-user-select: none;
}
.map-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.place-icon{
	position:absolute;
	float:left;
	margin:15%;
	width:70%;
	padding:0;
	-webkit-user-select: none;
}
.place-icon:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.map-tile{
	position: relative;
	float:left;
	padding:0;
	margin:1%;
	border-radius:5px;
	background-color:#808080;
	-webkit-user-select: none;
	box-sizing: border-box;
}
.map-tile:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.map-tile-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-tile.blank{
	background-color:transparent;
	-webkit-user-select: none;
}
.map-tile.player{
	background-color:#CCC;
}
.map-tile.dangerous{
	background: repeating-linear-gradient(
		  135deg,
		  #333,
		  #333 10px,
		  #444 10px,
		  #444 20px
		);
}
.map-tile.player.dangerous{
	background-color:#404040;
}

.map-tile.movement{
	border-style: solid;
	background-color:#CCC;
	border-color:#6163DB;
}
.map-tile.movement.dangerous{
	background-color:#404040;
	border-color:#E74663;
}
.map-tile.movement:hover{
	cursor:pointer;
	border-color:#9798e7;
	-webkit-user-select: none;
}
.map-tile.movement.dangerous:hover{
	cursor:pointer;
	border-color:#e74696;
	-webkit-user-select: none;
}

.npc-icon{
	position:absolute;
	height:33%;
	width:33%;
	top:2px;
	left:2px;
}
.npc-home-icon{
	position:absolute;
	height:33%;
	width:33%;
	bottom:2px;
	left:2px;
}

.item-icon{
	position:absolute;
	height:33%;
	width:33%;
	bottom:2px;
	left:2px;
}

.hotkey-icon{
	position:absolute;
	float:left;
	width:100%;
	height:100%;
	right:2px;
	top:2px;
	font-size:10px;
	line-height:12px;
	pointer-events: none;
	-webkit-user-select: none;
	text-align: right;
	color: #555;
}
.hotkey-icon.dangerous{
	color: #BBB;
	-webkit-user-select: none;
}
.hotkey-icon.disabled{
	color: #444;
	-webkit-user-select: none;
}

/***********************************************************/
/*INVENTORY VIEW*/

.inventory-equipped{
	float:left;
	display:inline-block;
	background-color:#19191a;
	width:66.666%;
	margin:0;
	padding:0;
	border-radius:5px;
	-webkit-user-select: none;
}
.inventory-equipped:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.inventory-item-slot {
	display:inline-block;
	background-color: #333333;
	position:relative;
	float:left;
	border-radius: 5px;
	width:23%;
	margin:1%;
	-webkit-box-sizing: border-box;
}

.inventory-equipped.accessories{
	float:left;
	background-color:#19191a;
	text-align: center;
	width:33.333%;
	margin:0;
	padding:0;
	border-radius:5px;
	-webkit-user-select: none;
}

.inventory-item-slot.secondary{
	width:14.67%;
}
.inventory-item-slot.unequipped{
	width:11.5%;
	margin:0.5%;
}
.inventory-item-slot:after{
	content: "";
	display: block;
	padding-bottom: 100%;
}
.inventory-item-slot.disabled, .inventory-item-slot.piercing.disabled {
	background: repeating-linear-gradient(
	  135deg,
	  #333,
	  #333 10px,
	  #222 10px,
	  #222 20px
	);
}
.inventory-item-slot.disabled-light, .inventory-item-slot.piercing.disabled-light{
	background: repeating-linear-gradient(
	  135deg,
	  #333,
	  #333 10px,
	  #292929 10px,
	  #292929 20px
	);
}
.inventory-item-slot.concealed, .inventory-item-slot.piercing.concealed {
	background: #222;
}
.inventory-icon-content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.overlay-inventory {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-user-select: none;
}
.overlay-inventory:hover{
	background-color:rgba(255,255,255,0.2);
	border-radius:5px;
	cursor:pointer;
}
.overlay-inventory.no-pointer{
	cursor:default;
}

.femininityIcon{
	position:absolute;
	width:40%;
	height:40%;
	right:0;
	pointer-events: none;
	-webkit-user-select: none;
}
.cummedIcon{
	position:absolute;
	width:40%;
	height:40%;
	right:0;
	bottom:0;
	pointer-events: none;
	-webkit-user-select: none;
}
.displacedIcon{
	position:absolute;
	width:40%;
	height:40%;
	left:0;
	bottom:0;
	pointer-events: none;
	-webkit-user-select: none;
}
.stretchIcon{
	position:absolute;
	width:40%;
	height:40%;
	left:0;
	pointer-events: none;
	-webkit-user-select: none;
}
.concealedIcon{
	position:absolute;
	width:40%;
	height:40%;
	right:0;
	pointer-events: none;
	-webkit-user-select: none;
}
.scarIcon{
	position:absolute;
	width:40%;
	height:40%;
	right:0;
	pointer-events: none;
	-webkit-user-select: none;
}
.lipstickIcon{
	position:absolute;
	width:40%;
	height:40%;
	right:0;
	bottom:0;
	pointer-events: none;
	-webkit-user-select: none;
}
.raceBlockIcon{
	position:absolute;
	width:75%;
	height:75%;
	margin:12.5%;
	pointer-events: none;
	-webkit-user-select: none;
}
.watchHand{
	width:100%;
	height:100%;
	-webkit-user-select: none;
}

.empty {
	background-color:#242424;
}
.transparent {
	background-color:transparent;
}
.unknown {
	background-color:#252527;
}
.unknown:hover{
	background-color:#3e3e41;
}
.common {
	background-color:#4b4b4e;
}
.common:hover{
	background-color:#646468;
}
.uncommon {
	background-color:#3D5C47;
}
.uncommon:hover{
	background-color:#5A8767;
}
.rare {
	background-color:#4b4b6c;
}
.rare:hover{
	background-color:#5e5e87;
}
.epic {
	background-color:#523455;
}
.epic:hover{
	background-color:#6b446f;
}
.legendary {
	background-color:#4b4b33;
}
.legendary:hover{
	background-color:#6a6a48;
}
.quest {
	background-color:#344C4B;
}
.quest:hover{
	background-color:#486A69;
}
.jinxed {
	background-color:#694b4e;
}
.jinxed:hover{
	background-color:#865f63;
}

.item-inline{
	background-color: transparent;
	position:relative;
	display:inline-block;
	border-radius: 5px;
	width:20px;
	height:20px;
	padding:0;
	margin:0 0 2px 0;
	vertical-align: middle;
}
