html {
	background: #1e1e20;
    font: 12pt Calibri;
	-webkit-user-select: none;
}

body{
    background: #1e1e20;
	margin:0;
	padding:0;
	overflow:hidden;
	border-radius:5px;
	-webkit-user-select: none;
}

p{
	-webkit-user-select: none;
}
p:hover{
	cursor:default;
}

.content {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
	-webkit-user-select: none;
}

/* Made for 9:16 ratio
   Height = 1.7777 * width
 */

/*LEFT PANEL*/
.equipped{
	position: relative;
	float:left;
	background-color:#19191a;
	border-radius: 10px;
	text-align:center;
	padding: 2vw;
	margin:0;
	height:96vw;
	width:58vw;
	-webkit-user-select: none;
}
.display{
	position: relative;
	margin:0;
	background-color:#19191a;
	border-radius: 5px;
	text-align:center;
	width:58vw;
	height:19.2vw;
	padding:0;
	-webkit-user-select: none;
}
.equipSlot {
	position:relative;
	padding:0;
	margin:0.6vw;
	position:relative;
	border-radius: 5px;
    background-color:#333;
    color:white;
	float:left;
    width: 18vw;
	height: 18vw;
	-webkit-user-select: none;
}
.common {
	background-color:#4b4b4e;
}
.common:hover{
	background-color:#646468;
}
.uncommon {
	background-color:#3D5C47;
}
.uncommon:hover{
	background-color:#5A8767;
}
.rare {
	background-color:#4b4b6c;
}
.rare:hover{
	background-color:#5e5e87;
}
.epic {
	background-color:#523455;
}
.epic:hover{
	background-color:#6b446f;
}
.legendary {
	background-color:#4b4b33;
}
.legendary:hover{
	background-color:#6a6a48;
}
.jinxed {
	background-color:#694b4e;
}
.jinxed:hover{
	background-color:#865f63;
}

/*RIGHT PANEL*/
.accessories{
	float:right;
	background-color:#19191a;
	border-radius: 10px;
	text-align:center;
	padding: 2vw;
	margin:0;
	width:32vw;
	/*height:164vw;*/
	height:96vw;
	-webkit-user-select: none;
}
.display.weapons{
    width:32vw;
	height:16vw;
	-webkit-user-select: none;
}
.display.piercings{
	width:32vw;
	height:58vw;
	-webkit-user-select: none;
}
.display.extra{
	width:32vw;
	height:14vw;
	-webkit-user-select: none;
}
.weapon-spacer{
	height:4vw;
	-webkit-user-select: none;
}
.equipSlot.weapon {
	margin:1vw;
	width:14vw;
	height:14vw;
	-webkit-user-select: none;
}
.equipSlot.small {
	margin:1vw 2vw 1vw 2vw;
	width:12vw;
	height:12vw;
	-webkit-user-select: none;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-user-select: none;
	cursor:pointer;
}
.overlay.disabled{
	border-radius:5px;
	background: repeating-linear-gradient(
	  135deg,
	  #333,
	  #333 10px,
	  #222 10px,
	  #222 20px
	);
	opacity:0.60;
	cursor:default;
}
.overlay.disabled:hover{
	border-radius:5px;
	background: repeating-linear-gradient(
	  135deg,
	  #333,
	  #333 10px,
	  #222 10px,
	  #222 20px
	);
	opacity:0.60;
}

/*INVENTORY BOX*/
.inventoryWrapper{
	position: relative;
	float:left;
	background-color:#19191a;
	border-radius: 10px;
	text-align:center;
	margin: 2vw 6vw 0 6vw ;
	padding: 2vw;
	/*height:164vw;*/
	height:56vw;
	width:84vw;
	/*width:145px;
	height:275px;*/
	-webkit-user-select: none;
}

.display.inventory{
	background-color:#19191a;
	border-radius: 5px;
	text-align:center;
	/*height:74vw;*/
	height:56vw;
    width:84vw;
	/*overflow-y:scroll;*/
	-webkit-user-select: none;
}
.invSlot {
	padding:0;
	margin:1vw;
	position:relative;
	width:12vw;
	height:12vw;
	border-radius: 5px;
    background-color:#101010;
    color:white;
	float:left;
	-webkit-user-select: none;
}
.invSlot:hover{
	background-color:#566070;
	cursor:pointer;
	-webkit-user-select: none;
}

#encumbered{
    color:red;
	-webkit-user-select: none;
}

.femininityIcon{
	position:absolute;
	width:40%;
	height:40%;
	right:0;
	pointer-events: none;
	-webkit-user-select: none;
}
.cummedIcon{
	position:absolute;
	width:40%;
	height:40%;
	right:0;
	bottom:0;
	pointer-events: none;
	-webkit-user-select: none;
}
.displacedIcon{
	position:absolute;
	width:40%;
	height:40%;
	left:0;
	bottom:0;
	pointer-events: none;
	-webkit-user-select: none;
}
.jinxedIcon{
	position:absolute;
	width:40%;
	height:40%;
	left:0;
	pointer-events: none;
	-webkit-user-select: none;
}
.raceBlockIcon{
	position:absolute;
	width:60%;
	height:60%;
	margin:20%;
	pointer-events: none;
	-webkit-user-select: none;
}
.watchHand{
	width:100%;
	height:100%;
	-webkit-user-select: none;
}

.iconImage{
	pointer-events: none;
	-webkit-user-select: none;
}
