html {
	background: #1e1e20;
    font-family:Calibri;
	font-size:11pt;
	font-size:7vw; /*font-size:2vw;*/
	color: #ffffff;
	overflow:hidden;
	cursor:default;
	margin:0;
	padding:0;
	-webkit-user-select: none;
}

body{
	margin:0;
	padding:0;
	-webkit-user-select: none;
}

div {
    width: 100%;
	margin:0;
    padding: 0;
	background-color: transparent;
	-webkit-user-select: none;
}

p{
	margin:0;
	padding:0;
	-webkit-user-select: none;
}

table{
	width:90vw;
	padding:0;
	margin:0;
	border:0;
	border-collapse:collapse;
}

.player-name{
	/*background: #43244a;
	font-family:"Angelina";*/
	vertical-align: middle;
	text-align: center;
	font-size:1.6em;
	margin:0;
	-webkit-user-select: none;
}

.player-title{
	/*background: #43244a;
	font-family:"Angelina";*/
	vertical-align: middle;
	text-align: center;
	font-size:1.2em;
	margin:0 0 0 0;
	-webkit-user-select: none;
}

.basic-image{
	float:left;
	width:10vw;
	height:10vw;
	padding:0;
	-webkit-user-select: none;
}
.basic-image.bordered{
	float:left;
	width:9vw;
	height:9vw;
	padding:0;
	-webkit-user-select: none;
}

.attribute-container{
	display:inline-block;
	background-color:#19191a;
	padding:1vw;
	border-radius: 5px;
	margin:1vw 2vw 1vw 2vw;
	width:96vw;
}

.combat-attributes{
	display:inline-block;
	background-color:#19191a;
	padding:1vw;
	border-radius: 5px;
	margin:1vw 2vw 1vw 2vw;
	width:96vw;
}

.perk-display{
	display:inline-block;
	background-color:#19191a;
	padding:1vw;
	margin:1vw 2vw 1vw 2vw;
	border-radius:5px;
	min-height:24vw;
	width:96vw;
	-webkit-user-select: none;
}

.full-width-container{
	position:relative;
	float:left;
	width:100%;
	-webkit-user-select: none;
}

.quarter-width-container{
	position:relative;
	float:left;
	width:25%;
	-webkit-user-select: none;
}

h1{
	font-size:2.5em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	-webkit-user-select: none;
}
h2{
	font-size:2em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	-webkit-user-select: none;
}
h3{
	font-size:1.8em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	-webkit-user-select: none;
}
h4{
	font-size:1.6em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	-webkit-user-select: none;
}
h5{
	font-size:1.4em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	-webkit-user-select: none;
}
h6{
	font-size:1.2em;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	-webkit-user-select: none;
}

.imageIcon {
	position:relative;
	float:left;
	width:10vw;
	height:10vw;
	padding:0;
	margin:1vw;
	border-radius: 5px;
	background-color: #333333;
	-webkit-user-select: none;
}
.statusEffectBackground {
	position:relative;
	float:left;
	width:14vw;
	height:12vw;
	padding:0;
	margin:1vw;
	border-radius: 5px;
	background-color: #333333;
	-webkit-user-select: none;
}
.statusEffectBackground.negativeCombat {
	position:relative;
	float:left;
	width:9vw;
	height:9vw;
	padding:0;
	margin:1vw;
	border-radius: 5px;
	background-color: #333333;
	border:1vw;
	border-style: solid;
	border-width:1vw;
	border-color: #FF4D4D;
	-webkit-user-select: none;
}
.statusEffectBackground.positiveCombat {
	position:relative;
	float:left;
	width:9vw;
	height:9vw;
	padding:0;
	margin:1vw;
	border-radius: 5px;
	background-color: #333333;
	border:1vw;
	border-style: solid;
	border-width:1vw;
	border-color: #85C6FF;
	-webkit-user-select: none;
}

.barBackgroundExp{
	width:90vw;
	height:2vw;
	background:#222222;
	float:left;
	margin:0 2vw 2vw 2vw;
	border-radius: 2;
}
.barBackgroundAtt{
	width:65vw;
	height:5vw;
	background:#222;
	float:left;
	margin:4vw 0 0 0;
	border-radius: 2px;
}
.barBackgroundAtt.corruption{
	/*background: repeating-linear-gradient(
	  90deg,
	  #222,
	  #222 4px,
	  #666 4px,
	  #666 5px,
	  #222 5px,
	  #222 24px,
	  #666 24px,
	  #666 25px,
	  #222 25px,
	  #222 49px,
	  #666 49px,
	  #666 50px,
      #222 50px,
	  #222 74px,
	  #666 74px,
	  #666 75px,
	  #222 75px,
	  #222 94px,
	  #666 94px,
	  #666 95px,
	  #222 95px,
	  #222 100px
	);*/
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-user-select: none;
}
.overlay:hover{
	background-color:#fff;
	opacity:0.20;
	border-radius:5px;
}
