html {
	background: #fcfcfc;
    font-family:Calibri;
	font-size:11pt; /*font-size:2vw;*/
	color: #262626;
	padding: 0;
    margin: 0;
	height:100vw;
	-webkit-user-select: none;
}

body{
	padding: 1vw;
    margin: 0;
	overflow:hidden;
	-webkit-user-select: none;
}

div {
    width: 100%;
    padding: 0;
    margin: 0;
	background-color: transparent;
	-webkit-user-select: none;
}

/***********************************************************/
/*TITLE*/
.weatherBodyTitle{
	background-color:#ccc;
	border-radius:5px;
	margin:0 1vw 0 1vw;
	-webkit-user-select: none;
	cursor:default;
}

.weather-image{
position:relative;
	float:left;
	width:36px;
	height:36px;
	padding:0;
	margin:auto;
	border-radius: 5px;
	background-color: #ddd;
	-webkit-user-select: none;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-user-select: none;
}
.overlay:hover{
	background-color:#fff;
	opacity:0.20;
	border-radius:5px;
}


/***********************************************************/
/*MAP*/

.map-container{
	float:left;
	display:inline-block;
	background-color:#eee;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	border-radius:5px;
	overflow:hidden;
	-webkit-user-select: none;
}

.place-icon{
	position:absolute;
	float:left;
	margin:15%;
	width:70%;
	height:70%;
	padding:0;
	-webkit-user-select: none;
}

.map-tile{
	position: relative;
	float:left;
	padding:0;
	margin:1%;
	border-radius:5px;
	background-color:#aaa;
	-webkit-user-select: none;
}
.map-tile.blank{
	background-color:transparent;
	-webkit-user-select: none;
}
.map-tile.player{
	background-color:#ccc;
}
.map-tile.dangerous{
	background-color:#444;
}
.map-tile.player.dangerous{
	background-color:#666;
}

.map-tile.movement{
	border-style: solid;
	background-color:#ccc;
	border-color:#6163DB;
}
.map-tile.movement.dangerous{
	background-color:#666;
	border-color:#E74663;
}
.map-tile.movement:hover{
	cursor:pointer;
	border-color:#9798e7;
	-webkit-user-select: none;
}
.map-tile.movement.dangerous:hover{
	cursor:pointer;
	border-color:#e74696;
	-webkit-user-select: none;
}

.npc-icon{
	position:absolute;
	height:33%;
	width:33%;
	top:2px;
	left:2px;
}

.item-icon{
	position:absolute;
	height:33%;
	width:33%;
	bottom:2px;
	left:2px;
}

.hotkey-icon{
	position:absolute;
	float:left;
	width:100%;
	height:100%;
	right:2px;
	top:2px;
	font-size:10px;
	line-height:12px;
	pointer-events: none;
	-webkit-user-select: none;
	text-align: right;
	color: #555;
}
.hotkey-icon.dangerous{
	color: #BBB;
	-webkit-user-select: none;
}
.hotkey-icon.disabled{
	color: #444;
	-webkit-user-select: none;
}